@import '~bulma/sass/utilities/initial-variables';

$green-dark: #113E32;
$family-serif: serif;
$green: #009286;

$primary: $green;

@import '~bulma';

.section {
  padding: 1.5rem;
}

.container-brand-detail {
  border-top: 1px $border solid;
  border-bottom: 1px $border solid;
}

.title-brand-name {
  font-size: $size-4;
  font-weight: $weight-bold;
  font-family: $family-serif;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}

.content-brand-text {
  margin: 0.5rem 1.5rem;
}

.image-caption {
  margin-top: 0.5rem;

}

figcaption.is-small {
  font-size: $size-7;
}

.columns-information {
  font-size: $size-7;
}

.site-logo {
  display: inline;
  font-weight: $weight-bold;
  font-family: $family-serif;
  border: 1px $white-ter solid;
  padding: 0.2rem 0.8rem;
}

.column-creator-detail {
  background-color: #E3E9E7;
}

.container-creator-detail {
  padding: 1rem 0;
  margin: 0 1rem;
}

.has-information-border {
  border-top: 1px #113E32 solid;
}

.has-information-border-bottom {
  border-bottom: 1px #113E32 solid;
}

.container-collaboration {
  padding: 2rem 1rem;
  border: 1px #113E32 solid;
}

.is-bold {
  font-weight: $weight-bold;
}

ul.list {
  margin: 1rem auto;
  list-style: disc outside;
  margin-left: 1rem;
  padding-left: 1rem;
}

.button.is-large-button {
  padding: 1rem 3rem;
  border-radius: 20px;
}

.section {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
}

.header {
  background-color: $green-dark;
  padding: 0.5rem;
  color: $white-ter;
}

.footer {
  background-color: $grey-dark;
  margin-top: 3rem;
  padding: 0.5rem;
  color: $white-ter;
}

.title:not(:last-child) {
  margin-bottom: 0.8rem;
}
